<%# resource_cache resource do %>
<div class='container-fluid no-margin'>
  <div class='row-fluid'>
    <div class='span12'> 	
      <%= render_slideshow_for(resource) %>
    </div>
  </div> 
</div>  
<div class='container-fluid container-content'>
  <div class='row-fluid'>
    <div class='span12'>
	    <%= render_page_title(resource.title) if resource.show_title_in_page %>
	    <%= render_html_text(resource.body) %>
    </div> 
  </div> 
</div>
<div class='container-fluid container-bedrooms'>
  <div class='row-fluid'>
    <div class='span12'>
      <h3>Discover ours villas and Suites</h3>
    </div> 
  </div> 
</div>
<div class='container-fluid container-bedrooms'>
  <div class='row-fluid'>
    <div class='span4'>
      <h4>Villa One</h4>
      <p>The Junior Suite (720 sq. ft. interior and 820 sq. ft. total surface) is completely secluded and offers an ideal balance of privacy and luxury. Decorated in a more contemporary style, this expansive room has three large glass-paneled doors that open to the outdoor patio and provide partial views to the Caribbean Sea and the bay of Toiny.</p>
    </div>
    <div class='span4'>
      <h4>Villa One</h4>
      <p>Lorem ipsum...</p>
    </div>
    <div class='span4'>
      <h4>Villa One</h4>
      <p>Lorem ipsum...</p>
    </div> 
  </div> 
</div>
<div class='container-fluid container-promo'>
  <div class='row-fluid'>
    <div class='span12'>
      <h3>Ours Packages</h3>
    </div> 
  </div> 
</div>
<div class='container-fluid container-promo'>
  <div class='row-fluid'>
    <div class='span6'>
      <h4>Villa One</h4>
      <p>The Junior Suite (720 sq. ft. interior and 820 sq. ft. total surface) is completely secluded and offers an ideal balance of privacy and luxury. Decorated in a more contemporary style, this expansive room has three large glass-paneled doors that open to the outdoor patio and provide partial views to the Caribbean Sea and the bay of Toiny.</p>
    </div>
    <div class='span6'>
      <h4>Villa One</h4>
      <p>Lorem ipsum...</p>
    </div>
  </div> 
</div> 
<%# end %>
