$navbar-fixed-left: 250px;
$path: "hotel/";
$themeColor: #44413A;
$acidGreen: #98CB38;
$zindexPane: 100;
$zindexLogoRelais: 90;
$themeLightColor: #f5f1ef;
@import "hotel/stylesheets/variables";
@import "twitter.bootstrap.2.3.1/bootstrap-awesome";
@import "twitter.bootstrap.2.2.1/bootstrap-datepicker";
@import "twitter.bootstrap.2.2.1/bootstrap-image-gallery";
@import "gko/public/base";
@import "hotel/stylesheets/navbar";
@import "hotel/stylesheets/footer";
@import "flexslider/flexslider";
a:focus,
.btn:focus {
  outline: 0;
}

a[data-pin-log="button_pinit_floating"] {
  z-index: 1000000;
} 
.main {
  background-color: $themeLightColor;
  padding-bottom: $baseLineHeight * 2;
}
.container-fluid.no-margin {
  padding-left: 0;
  padding-right: 0;
} 


@media (max-width: 1199px) {
  .main {
    margin-left: $navbar-fixed-left;
    padding-right: 0;
    padding-top: $navbarHeight;
  } 
  .navbar-inner {
    padding: 0; 
  }
  .navbar {
    position: fixed;
    right: auto;
    left: 0;
    top: 0;
    z-index: $zindexFixedNavbar;
    margin-bottom: 0; // remove 18px margin for default navbar  
    padding-top: $navbarHeight;
    width: $navbar-fixed-left; 

    .container-fluid {
       padding: 0;
    }
    .nav {
      margin: 0;
      width: 100%; 
    }
    .nav > li {
      display:block;
      float: none; 
      @include clearfix;
    } 
    .nav > li > a {
      padding: 8px 20px;
      border-bottom: 1px solid lighten($navbarBackground, 10%);
    }
  } 

}
@media (min-width: 1200px) {

  .main {
    //margin-left: 0;
    //padding-right: 0;
    padding-top: $navbarHeight + 60;
    max-width: 1200px;
    @include center-block;
  }
  .navbar-inner {
    min-height: 40px; 
    padding-left: 20px;
    padding-right: 20px;
  } 
  .navbar {
    position: fixed;
    right: 0;
    left: 0;
    top: $navbarHeight;
    margin-bottom: 0; // remove 18px margin for default navbar  
    padding-top: 0;
    width: auto;
    .container-fluid {
       padding: 0;
    }
    .nav {
      margin: 0;
      width: 100%; 
    }
    .nav > li > a {
      padding: 8px 20px;
      border-bottom: none;
    }
  }
}



