<div id='copyright-container' class='container-fluid'>
  <div id='copyright' class='row-fluid'>
    <div class="span12">
      <%= render "shared/mobile_switcher" %>
      <a id='site_by' href='http://www.joufdesign.com' target='_blank'>
        <%= t(:'site_by', :name => "Jouf Design").html_safe %>
      </a>
    </div>
  </div>
</div>