


<p><strong>Le Toiny</strong> - our beach… Take our walking path and 10-15 minutes later you can discover the bay of Toiny where quietness, peacefulness and surfing become arts. This is the island’s best surf spot through out the year, but swimming as well as snorkelling is also possible. Be careful, as currents can be strong on certain days!</p>

<p><strong>Gouverneur</strong> - Is an idyllic bay, offering a hidden beach. Stop on your way down to take in the beautiful view. Enjoy great turquoise water and snorkelling along the reef side to the left. A legend says the pirate Monbars hid his treasure there.</p> 

<p><strong>Saline</strong> - A most popular beach on the “wild coast” of the island, it is also one of the largest ones. After a short walk everybody enjoys this white-sanded long nature beach with its great water quality. Good snorkelling towards the reef on the left hand side. It is the second largest on the island, after Flamands. Far from the hustle and bustle, this beach provides perfect tranquillity.</p>

<p><strong>Colombier</strong> – This nature beach can only be accessed by boat or by a 20-30-minutes walk (a nice scenic hike from Flamands) along the rocks. Once there, it feels like real paradise on earth. You can discover a nice panoramic view from the island. – Definitely a MUST!</p>   

<p><strong>Saint-Jean</strong> – One of the most popular beaches of Saint Barts! - No trip to Saint Barts without a visit to Saint Jean beach, which is divided in two areas. The first one is close to the airport, where one can watch the take off and landing of the small planes,… always breathtaking! 
On this beautiful bay of turquoise water people meet for drinks, enjoy nice food and a party atmosphere in a beach restaurant or simply take advantage of a variety of water sports. 
On the other side close to Nikki Beach the water is very quiet and allows families with small children to enjoy swimming and snorkelling (to see turtles) without any worries.</p> 

<p><strong>Flamands</strong> - This white-sanded beach with crystal waters is the largest on the island of St Barts. Situated in a residential area it is very well-known for its natural beauty sculpted by the time. Mind windy days so, when the waves can get high. (Not recommended for snorkelling!)</p>

<p><strong>Shell Beach</strong> - A sunset there is an unforgettable picture and memory. As its name suggests, shells and sand are melting to give it its very unique character. It is a small beach with a snack bar and the restaurant “Do Brazil”. You will love this unusual beach, far from the cliché of a “white sand beach”.  It is located just five minutes from the town centre of Gustavia.</p>

<p><strong>Lorient</strong> - A beach of diversity and harmony in a residential area. Enjoy the sandy beach, turtles if you are snorkelling, surf, or just … relax. The locals call it “the little basins”. This is what distinguishes the beach in Lorient from all the other beaches. One side is perfectly calm for swimming, while families appreciate the other side, or the little basins, as reefs of coral and rocks offer extra security for children. Surfing is also popular there, as the big waves off the coast are a great place to “hang ten”.</p>

<p><strong>Corossol</strong> - This small beach is plunging us deep into Saint Barths’ past and keeps traditional ancient fishermen’s spirit; their small boats are still there. The beach is just a small strip but it is a very good place to snorkel. The brown sand in Corossol is what gives this beach its special charm.</p>

<p><strong>Grand-Cul-de-Sac</strong> – A shallow lagoon with clear turquoise water and schools of small fish. The beach in Grand-Cul-de-Sac is, without doubt, the best for practicing water sports such as Kite surfing, kayaking, jet skiing, wind surfing. etc. Only a 5-minute drive from the hotel.</p>