<table class="table table-condensed">
	<tbody>
	<tr>
		<td>St Barth Softness a body peeling massage with coconut oil and papaya</td>
		<td>30 minutes</td>
		<td>65€</td>
	</tr>
	<tr>
		<td>St Barth Elasticity a body mask with clay and pineapple</td>
		<td>30minutes</td>
		<td>85€</td>
	</tr>
	<tr>
		<td>St Barth Sun Downer after sun body mask with clay, melon mousse & aloe-mint gel</td>
		<td>45minutes</td>
		<td>95€</td>
	</tr>
	<tr>
		<td>St Barth Sensation hydrating coconut and vanilla body pack</td>
		<td>60 minutes</td>
		<td>130€</td>
	</tr>
	<tr>
		<td>St Barth Harmony a pampering body massage</td>
		<td>30 minutes</td>
		<td>65€</td>
	</tr>
	<tr>
		<td>St Barth Harmony a pampering body massage</td>
		<td>60 minutes</td>
		<td>130€</td>
	</tr>
	<tr>
		<td>St Barth Harmony a pampering body massage</td>
		<td>90 minutes</td>
		<td>195€</td>
	</tr>
	<tr>
		<td>St Barth Pureness facial and décolleté treatment with hand massage</td>
		<td>60 minutes</td>
		<td>130€</td>
	</tr>
	<tr>
		<td>St Barth Freshness facial and décolleté treatment with hand massage</td>
		<td>90 minutes</td>
		<td>169€</td>
	</tr>
	<tr>
		<td>St Barth Pampering Hand Beauty a luxury manicure</td>
		<td>60 minutes</td>
		<td>65€</td>
	</tr>
	<tr>
		<td>St Barth Pampering Feet Beauty a luxury pedicure</td>
		<td>60 minutes</td>
		<td>75€</td>
	</tr>
	<tr>
		<td>St Barth Chill Out innovative deep relaxation through massage using</td>
		<td>60 minutes</td>
		<td>140€</td>
		</tr> 
	<tr>
		<td>St Barth Slimness soothing and relaxing leg massage</td>
		<td>30 minutes</td>
		<td>65€</td>
	</tr>
	<tr>
		<td colspan=3>Ligne St Barth Waxing</td>
	</tr>
	<tr>
		<td colspan=2 class="tab">Half leg/Full leg</td><td>35€/60€</td>
	</tr>				
	<tr>
		<td colspan=2 class="tab">Back or chest</td><td>50€</td>
	</tr>
	<tr>
		<td colspan=2 class="tab">Bikini/Full bikini</td><td>40€/55€</td>
	</tr>			
	<tr>
		<td colspan=2>Underarm</td><td>25€</td>
	</tr>
	<tr>
		<td colspan=2>Eyebrow, lip, chin</td><td>25€</td>
	</tr>
	</tbody>
</table>