<p>For guests who would like to enjoy a Spa day with LIGNE ST BARTH or have various treatments through out their stay we propose the following Spa packages.</p>

<table class="table table-condensed">
	<tbody>
		<tr>
			<td>Lorient</td> 
			<td>2&nbsp;hours&nbsp;30&nbsp;minutes</td>
			<td>285&nbsp;€</td>
			<td>St Barth Harmony & Freshness</td> 
		</tr>
		<tr>
			<td>Flamands</td>
			<td>3&nbsp;hours&nbsp;30&nbsp;minutes</td>
			<td>425&nbsp;€</td>
			<td>St Barth Softness, Elasticity, Harmony & Freshness</td> 
		</tr>
		<tr>
			<td>Gouverneur</td>
			<td>3&nbsp;hours&nbsp;30&nbsp;minutes</td>
			<td>445&nbsp;€</td>
			<td>St Barth Dream, Purenes, Softness, Elasticity Harmony</td> 
		</tr>
		<tr>
			<td>Saline</td> 
			<td>6&nbsp;hours&nbsp;30&nbsp;minutes</td>
			<td>750&nbsp;€</td>
			<td>St Barth Softness, Freshness, Dream, Sensation & Pureness</td> 
		</tr> 
		<tr>
			<td>Colombier</td>
			<td>7&nbsp;hours&nbsp;30&nbsp;minutes</td>
			<td>998&nbsp;€</td>
			<td>St Barth Softness, Elasticity & Harmony, Sensation & Pureness,<br>Dream Elasticity & Harmony, Harmony & Freshness</td> 
		</tr>
		<tr>
			<td>St Barth Softness Celebration</td> 
			<td>2&nbsp;hours&nbsp;30&nbsp;minutes</td> 
			<td>250&nbsp;€</td> 
			<td>A Harmonious Combination of St Barth Softness Elasticity & Pureness</td> 
		</tr>
		<tr>
			<td>Celebrate St Barth Sensation</td>
			<td>2&nbsp;hours</td>
			<td>250&nbsp;€</td>
			<td>A Pleasant Combination of Sensation & Pureness</td> 
		</tr>
	</tbody>
</table>

<p><small>For 30 minutes treatments a short service fee of 15 € is added.</small></p>