<div class="row-fluid" style="position:relative;">
	<div class="span3" style="position:fixed;">
		<%= render 'sidebar'%>
	</div>
	<div class="span9 offset3">
		<%= simple_form_for(resources, :url => hotel_reservation_path, :html => {:class => [:"form-horizontal", :inquiry]}) do |f| -%>
			<%= render 'fields', :f => f %>
		<% end %>
	</div>
</div>