<%
image_geometry = local_assigns.has_key?(:image_style) ? image_style : :large
thumb_geometry = local_assigns.has_key?(:thumb_style) ? thumb_style : :small
%>
<% if images.any? %>
  <%# if is_mobile_view? %> 
   <!-- <ul class='block-grid two-up photoswipe'>
     <%# images.each do |img| %>
       <li><%#= link_to(image_fu(img, thumb_geometry, :rel => "external"), img.thumbnail(image_geometry).url) %></li>
     <%# end %>
   </ul>  --> 
   <%# else %>
  <div class='images'>
  <% images.each do |img| %>
      <%= link_to(image_fu(img, thumb_geometry), img.thumbnail(image_geometry).url) %> 
  <%# end %>
  <% end %>
  </div>    
<% end %> 
 
