<div class="panel panel-default panel-home">
  <div class="panel-heading">
    <h3 class="panel-title">New Event at Le Gaiac</h3>
  </div>
  <div class="panel-body">
    <img src="img/table_05.jpg" class="img-responsive">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p><a href="restaurant.html" class="btn btn-link">Read More &gt;</a></p>
  </div>
</div>