/* Less Framework 4
http://lessframework.com
by Joni Korpi
License: http://creativecommons.org/licenses/MIT/ */

/*
blue 49bce7
green 64BF00

/* Resets
------ */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {
	border: 0;
}


.clearfix {
	clear: both;
}

/* Typography presets
------------------ */

.gigantic {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1px;
}

.huge, h1 {
	font-size: 28px;
	line-height: 34px
}

.large, h2 {
	font-size: 26px;
	line-height: 36px;
}

.bigger, h3 {
	font-size: 22px;
	line-height: 30px;
}

.big, h4 {
	font-size: 18px;
	line-height: 30px;
}

body {
	font: 14px/20px helvetica, "Lucida Grande", sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection {
	background: rgb(255,255,158);
}
::-moz-selection {
	background: rgb(255,255,158);
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}
body {
	-webkit-tap-highlight-color: rgb(255,255,158);
}



/* Default Layout: 992px.
Gutters: 24px.
Outer margins: 48px.
Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols 1 2 3 4 5 6 7 8 9 10
px 68 160 252 344 436 528 620 712 804 896 */

/* =Global Elements
-------------------------------------------------------------- */
body {
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	background: #000; /* Uncomment to display the grid */
	font-family: "Lucida Grande", "Tahoma", "Helvetica Neue", Helvetica, "Arial", sans-serif;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
}

.wrapper-wide {
	width: 100%;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	background: none repeat scroll 0 0 transparent;
}
.container {
	width: 100%;
	margin: 0;
	clear: both;
	position: relative;
}

/* =MENU
----------------------------------------------------*/

ul.menu,
ul.menu ul {
	z-index: 99999;
	position: relative;
	list-style: none;
}
ul.menu li {
	font-weight: normal;
	float: left;
	zoom: 1;
}
ul.menu a {
	display: block;
	padding: 0px;
	text-decoration: none;
}
ul.menu a:link,
ul.menu a:visited,
ul.menu a:active,
ul.menu a:hover {
	color: #dedad1;
}
ul.menu ul {
	width: 220px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	background: #000;
	background-color: rgba(0,0,0,0.8);
}
ul.menu ul li {
	font-weight: normal;
	color: #fff;
	border-bottom: 1px solid #dedad1;
	float: none;
}
ul.menu ul a {
	width: 100%;
	display: inline-block;
	color: #dedad1;
}
ul.menu ul a:link,
ul.menu ul a:visited,
ul.menu ul a:active,
ul.menu ul a:hover {
	width: 100%;
	display: inline-block;
	color: white;
}
/* IE 6 & 7 Needs Inline Block */
/*
LEVEL THREE
*/
ul.menu ul ul {
	left: 100%;
	top: 0;
}
ul.menu li:hover > ul {
	visibility: visible;
}

/* =SPECIFIC
----------------------------------------------------*/  
#logo_relais_chateaux {
	position:absolute; 
	bottom:140px;
	right:20px;
	z-index: 1;
	opacity: .7;
}
#body-container {
	position: absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wrapper-wide-header {
	height: 140px;
	background: #49453E;
	position: absolute;
	top: 0px;
	width:100%;
	z-index: 1;/* under jquery dialog */
	text-shadow: 0 1px 1px #444;
	background-image: -moz-linear-gradient(top, 
							#6c675e, 
							#49453E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#6c675e),
		color-stop(1, 		#49453E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6c675e', EndColorStr='#49453E')";
}
#wrapper-wide-footer {
	height: 70px;
	background: #49453E;
	position: absolute;
	bottom: 0px;
	width:100%;
	z-index: 1003;
	text-shadow: 0 1px 1px #444;
}
#footer {
	margin-top: 8px;
}
#background-slideshow {
	position: absolute;
	top: 140px;
	bottom: 70px;
	width:100%;
	overflow:hidden;
}
#wrapper-wide-main {
	position: absolute;
	bottom: 70px;
	width:100%;
	height:70%; /* must have an px height for scrollpane */
	min-height:300px;
	overflow:visible;
	z-index: 999;
	background: #49bce7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	text-shadow: 0 1px 1px #fff;
}
#main {
	/*width:800px;*/
	width:100%;
	height:100%; /* must have an height for scrollpane(in px if parent #wrapper-wide-main height is not set) */
	bottom: 0px;
	margin: 0;
	padding: 0;
	display:block;
}

#sidebar {
	width: 290px;
	position: absolute;
	top:0px;
	left:0px;
	padding-top:20px;
	padding-left:10px;
	display:block;
}

#content-tab {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
	position: absolute;
	cursor: pointer;
	top: 0px;
	width: 100%;
	height: 40px;
	top: -40px;
	border: 1px solid 		#707070;
	background-color: 			#49453E;
	font-weight: bold;
	color: 					#d8d8d8;
	text-shadow: 0 1px 1px #444;
	background-color: -moz-linear-gradient(top, 
							#6c675e, 
							#49453E);
	background-color: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#6c675e),
		color-stop(1, 		#49bce7));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6c675e', EndColorStr='#49453E')";
	background-image: url(/images/icon_arrow_bottom_36_white.png);
	background-repeat:no-repeat;
	background-position:50% 50%;;
}

#content-tab.closed {
	background-image: url(/images/icon_arrow_top_36_white.png);
}

#content {
	position: absolute;
	left: 340px;
	text-align: left;
	color: #3b3831;
	height:100%;
	padding: 0px;
	right:0px;
}

#content .diaporama {
	overflow:hidden;
	height: 80px;
	padding:3px;
	margin-top:8px;
}
#content .diaporama img {
	border:2px solid white;
}
#content.content-sidebar {
	position: absolute;
}
#masterhead {
float: right;
margin: 0;
padding-right: 10px;
}
#locales,
#primary-menu {
	float:left;
}
#locales {
	height:24px; 
	padding:0 !important;
}
#locales a,
#user-menu a {
	color: #dedad1;
	font-size: 12px;
	text-decoration: none;	
}
#locales a {
	padding-left:26px;
	background:transparent url(/images/locale_icons.png) no-repeat top center; 
}
ul.menu ul a:link,
ul.menu ul a:visited,
ul.menu ul a:active,
ul.menu ul a:hover {
	color: white;
	text-decoration: none;
}

#content a {
	color: #3B3831;
	text-decoration:none;
}
#content a:visited,
#content a:active,
#content a:hover {
	color: #fff;
	text-decoration:underline;
	background-color:#3B3831; 
}
#content h3.ui-collapsible-heading a,
#content h3.ui-collapsible-heading a:visited,
#content h3.ui-collapsible-heading a:active,
#content h3.ui-collapsible-heading a:hover {
 color: #fff; 
}
#content .html_text ul {
	margin-bottom: .8em;
}
#content .html_text table {
	margin-bottom: .8em;
	margin-top: 1.6em;
}
#content .html_text h3 {
	font-size: 18px;
}
#content .html_text h4 {
	font-size: 16px;
}
#site-title-container {
	position: absolute;
	top: 50px;
	right: 10px;
	height: 59px;
	width: 132px;
	display:block;
}
h2#site-title a {
	background: url(/images/logo.png) no-repeat;
	text-indent: -9999px;
	height: 59px;
	width: 132px;
	font: bold 22px;
	letter-spacing: -2px;
	color: #fff;
	text-decoration: none;
	display: block;
}
#primary-menu {
	clear: both;
	border: none;
	z-index: 1001;/* under jquery dialog */
	position:absolute;
	top:10px;
	left:20px;
}
#sidebar ul.menu li,
#primary-menu ul.menu li {
	clear: both;
}
ul.menu li:hover > ul {
	visibility: hidden;
}
ul.menu a {
	color: #9e9d9c;
	font-size:12px;
}
ul.menu a:hover {
	color: white;
}
ul.menu a:active {
	color: white;
}
#sidebar ul.menu a {
	color: #49453E;
}
#sidebar ul.menu a:hover {
	color: #fff;
	text-shadow: 0 1px 1px #444;
}
#sidebar ul.menu li {
	margin-bottom: 3px;
}
h1.page-title{
	font-weight:normal;
	font-size: 24px;
	margin-top:8px;
	margin-bottom:8px;
}
/* loading screen
.ui-loader {
display: none;
position: absolute;
opacity: .85;
z-index: 10000;
left: 50%;
width: 200px;
margin-left: -130px;
margin-top: -35px;
padding: 10px 30px;
display: block;
}
.ui-loader h1 {
font-size: 15px;
text-align: center;
}
*/

#pipe-menu ul li {
	padding-left:20px;
}
#tools-menu ul {
	float:right;
}
#tools-menu ul li {
	padding-right:20px;
}
#site-infos {
	clear:both;
	float:left;
	margin-top:8px;
	width:100%;
}
#site-infos iframe {
	float:left;
	padding-left:10px;
	width:50%;
} 
#toiny_buttons {
	float:right;
	margin-right:20px;
}
#toiny_buttons a {
	display:inline-block;
	font-size:0.7em; 
}
a#facebook {
	width:24px;
	height:24px; 
	background:transparent url(/images/facebook_icons.png) no-repeat top center;
	text-indent:-9000px;
	cursor:pointer;
	padding:0 !important;
}
a#facebook:hover {
	background-position:bottom center;
}
a#twitter {
	width:24px;
	height:24px; 
	background:transparent url(/images/twitter_icons.png) no-repeat top center;
	text-indent:-9000px;
	cursor:pointer;
	padding:0 !important;
}
a#twitter:hover {
	background-position:bottom center;
}
a#toolfree {
	height:24px; 
	background:transparent url(/images/tollfreebtn.png) no-repeat top left;
	padding-left:30px;
	color: #dedad1;
	
}
.ui-icon-loading {
	position: static;
	display: block;
	opacity: .9;
	margin: 0 auto;
	width: 35px;
	height: 35px;
	background-color: transparent;
	background-image: url(/images/gko-core/ajax-loader.gif);
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}
.ui-collapsible-heading {
	margin:0px;
}
.ui-collapsible-heading a span.ui-btn {
	display:none;
}

.list-view-press_articles li,
.list-view-partners li,
.list-view-twits li   {
	 border-bottom: 1px dotted white;
	 padding-top:6px;
	 padding-bottom:6px;
	 margin-top:12px;
	 margin-bottom:12px; 
	overflow:hidden;
	list-style-type: none;
}
.list-view-press_articles h4.entry-title,
.list-view-partners h5.entry-title,
.list-view-twits h5.entry-title   {
	 margin-bottom:8px;
	font-size:18px;
}
.list-view-press_articles .entry-thumb,
.list-view-partners .entry-thumb,
.list-view-twits .entry-thumb {
	float:left;
  margin-left:12px; 
	display:block;
	position:relative;
}
.list-view-press_articles .entry-thumb img {
	margin-left: auto;
	margin-right: auto;
}
.list-view-press_articles li   {
	 width:130px;
	 height:180px;
		padding:10px;
		border: 1px dotted white;
		float:left;
		clear:none;
		margin-left:12px;
} 
#content .list-view-press_articles li p {
	margin:0px;
}
.list-view-press_articles h4.entry-title {
	padding-top:12px;
	clear:both;
	font-size:12px;
	display:block;
	margin-bottom: 0px;
	line-height: 12px;
} 
.list-view-press_articles .entry-thumb {
	float:left;
	margin:0 auto;
	display:block;
	height:100px;
}
.list-view-press_articles .entry-links a:hover {
	text-shadow: 0;
}
#diaporama_container,
#webcam_container {
-moz-border-radius: 6px;
background: #EEF2F7;
-webkit-border-radius: 6px;
border: 1px solid #536376;
-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
-moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
position: relative;
display: none;
} 
#diaporama_container {
	padding:10px;
}

.ui-field-contain {
padding: .2em 0;
margin: .5em 0;
} 
/* =SCROLLPANE
----------------------------------------------------*/
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: white;
	position: relative;
}
.jspDrag {
	background: #49453E;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: black;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #49453E;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
	* html .jspCorner {
		margin: 0 -3px 0 0;
	}

	/* Tooltip
	----------------------------------*/
	.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	filter: alpha(opacity=85);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	background-color: #49453E;
	background-image: none;
	color: #fff;
	font-size: 0.9em;
	line-height:; 0.9em;
	-moz-box-shadow: rgba(0,0,0,1) 0 4px 18px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 4px 18px;
	-khtml-box-shadow: rgba(0,0,0,1) 0 4px 18px;
	box-shadow: rgba(0,0,0,1) 0 4px 18px;
	border: 1px solid #444;
	text-shadow: 1px 1px 0 #000;
	width:300px;
	}
	/* Fades and background-images don't work well together in IE6, drop the image */
	* html .ui-tooltip {
	background-image: none;
	}
	body .ui-tooltip {
	border-width: 2px;
	}