/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer-container {
	text-shadow: 0 1px 1px #444;
	@include box-sizing(border-box);
	background-color: $footerBackground;
}
#footer {
	position:relative;
	iframe#fcb {
		position: relative;
		float: right;
	}
	.IN-widget {
		position: relative;
		float: right;
		margin-top: 8px;
	}
	.nav > li > a {
		padding: 0 5px 0;
		line-height: $footerHeight - 2;
		font-size: $baseFontSize - 4; 
	}
	.pipe-menu-container ul.nav {
		float:left;
		li {
			float:left;
		}
	}

}
footer .address {
  font-size: $baseFontSize - 4;
  color: lighten($navbarBackground, 40%);
  line-height: 15px;
  text-align: center;
  border-top: lighten($navbarBackground, 10%);
  padding: 0 20px; 
  a {
    color: lighten($navbarBackground, 40%);
    text-decoration: underline;
    &:hover {
      color: lighten($navbarBackground, 80%);
    };
  }
} 
#socials-container {
	margin-right: $footerHeight;
	.nav > li > a {
		cursor:pointer;
		margin: 0 !important;
		padding:0 !important;
		text-align: center;
		vertical-align: middle;
		height: $footerHeight;
		width: $footerHeight;
		line-height: $footerHeight;
		font-size: 18px;
		border-left: 1px solid lighten($navbarBackground, 8%);
		background-color: $navbarBackground;
		[class^="icon-"], [class*=" icon-"] {
			line-height: $footerHeight / 2;
			height: $footerHeight;
			width: $footerHeight;
		}
		&:hover {
			background-color: lighten($navbarBackground, 8%);
		};
	}
	.nav > li > a#toolfree {
		background-color: $acidGreen;
		&:hover {
			background-color: lighten($acidGreen, 8%);
		};
	}
} 
