/*-----------------------------------------
 HEADER
----------------------------------------- */ 
.nav > li > a {
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-inner {
	text-shadow: 0 1px 1px #444;
	@include reset-filter;
	@include border-radius(0);
}

.navbar {
	.brand {
		a {
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			width: 132px;
			height: 59px;
			@include hide-text;
		}
	}
	 
	li.dropdown > .dropdown-toggle .caret,
	li.dropdown.open > .dropdown-menu,
	li.dropdown.open > .dropdown-toggle .caret, 
	li.dropdown.active > .dropdown-toggle .caret, 
	li.dropdown.open.active > .dropdown-toggle .caret {
		display:none;
	}
	.nav > li > .dropdown-menu:before,
	.nav > li > .dropdown-menu:after{
		display:none;
	}
	.header-top {
		@include clearfix;
		.nav > li > a {
			background-color: darken($brown, 8%);
			padding: 6px 10px 6px;
			font-size: 10px;
			&:hover {
				background-color: $acidGreen;
			}
		}
		.btn-group {
     margin-top: 0;
     float: right;
    }
	}
	.header-nav {
		@include clearfix;
	} 
  .header-top .nav > li > a,
  .nav > li > a {
    font-size: $baseFontSize - 4; 
  }
	.nav-collapse {
		.nav {
			margin-top: 4px;
			margin-bottom: 4px;
		}
		.nav > li {
			float: none;
			&:last-child {
				border-bottom: none;
			}
		}
		.nav > li > a {
			padding: 0 12px;
			
		}
	}
	
  .address {
    font-size: $baseFontSize - 4;
    color: lighten($navbarBackground, 40%);
    position: absolute;
    top: 36px;
    right: 268px;
    z-index: 911;
    line-height: 15px;
    a {
      color: lighten($navbarBackground, 40%);
      text-decoration: underline;
      &:hover {
        color: lighten($navbarBackground, 80%);
      };
    }
  }
} 


#locales-btn {
  @include button-background(#2e2c27, #2e2c27, #2e2c27, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid #2e2c27;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: #2e2c27; 
  color: #dedad1; 
  text-shadow: none;
  font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px; 
	@include border-radius(0 0 8px 8px); 
	font-size: $baseFontSize - 4;
  &:hover { 
    @include button-background($acidGreen, $acidGreen, $acidGreen, 0 1px 1px rgba(255,255,255,.75));
    border: 1px solid $acidGreen;
    *border: 0; // Remove the border to prevent IE7's black border on input:focus
    border-bottom-color: $acidGreen;
    color: $white;
    text-shadow: 0 1px 0 #44413a; 
  }
} 
#locales-btn:hover:hover, 
#locales-btn:hover:active, 
#locales-btn:hover.active, 
#locales-btn:hover.disabled, 
#locales-btn:hover[disabled] {
   color: $white;
}
.dropdown .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top:   4px solid #2e2c27;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  content: "";
}
