/*-----------------------------------------
 HEADER
----------------------------------------- */ 
.nav > li > a {
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-inner {
	text-shadow: 0 1px 1px #444;
	@include reset-filter;
	@include border-radius(0);
}

.navbar {
	.brand {
		a {
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			width: 132px;
			height: 59px;
			@include hide-text;
		}
	}
	 
	li.dropdown > .dropdown-toggle .caret,
	li.dropdown.open > .dropdown-menu,
	li.dropdown.open > .dropdown-toggle .caret, 
	li.dropdown.active > .dropdown-toggle .caret, 
	li.dropdown.open.active > .dropdown-toggle .caret {
		display:none;
	}
	.nav > li > .dropdown-menu:before,
	.nav > li > .dropdown-menu:after{
		display:none;
	}
	.header-top {
		@include clearfix;
		.nav > li > a {
			background-color: darken($brown, 8%);
			padding: 6px 10px 6px;
			font-size: 10px;
			&:hover {
				background-color: $acidGreen;
			}
		}
		.btn-group {
     margin-top: 0;
     float: right;
     .btn-group > .btn:first-child {

     } 
    }
	}
	.header-nav {
		@include clearfix;
	}

	.nav-collapse {
		.nav {
			margin-top: 16px;
		}
		.nav > li {
			float: none;
			&:last-child {
				border-bottom: none;
			}
		}
		.nav > li > a {
			padding: 0 12px;
		}
	}
}
