/*-----------------------------------------
 HEADER
----------------------------------------- */ 
.nav > li > a {
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-inner {

	text-shadow: 0 1px 1px #444;
	@include reset-filter;
	@include border-radius(0);
}


.navbar {
	.brand {

		a {
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			width: 132px;
			height: 59px;
			@include hide-text;
		}
	}
	.header-top {
		@include clearfix;
		.nav > li > a {
			background-color: darken($brown, 8%);
			padding: 6px 10px 6px;
			font-size: 10px;
			&:hover {
				background-color: $acidGreen;
			};
		}
	}
	.header-nav {
		@include clearfix;

	}
	#locales-menu {
		li > a {
			line-height: 12px;
			padding-left:56px;
			background:transparent asset-url("locale_icons.png", image) no-repeat top center; 
		}
	}

	.nav-collapse {
		nav {
			//border-right: 1px solid lighten($brown, 8%);
		}
		.nav {
			margin-top: 16px;
		}
		.nav > li {
			//line-height: 14px;
			float: none;
			//border-bottom: 1px solid lighten($brown, 8%);
			&:last-child {
				border-bottom: none;
			}
		}
		.nav > li > a {
			padding: 0 12px;
		}
	}

}
