
/* =TICKER
----------------------------------------------------*/
#ticker-wrapper {
		position: absolute;
		right: 30px;
		top:220px;
		width: 220px;
		height: 120px;
		overflow:hidden;
		z-index: 999;
		background: #49bce7;
		opacity: .9;
		text-shadow: 0 1px 1px #fff; 
	}

ul#ticker {
	width: 220px;
	height: 120px;
	overflow: hidden; 
	padding:0;
	margin:0;
}

ul#ticker li {
	width: 200px;
	height: 99px;
	padding: 20px; 
	display: block;
}

ul#ticker li a {
	color: white; 
	display: block;
	text-decoration: none;
	&:hover {
		color: white;
		text-decoration: none;
	};
}

ul#ticker li span {
	display: block;
	color: white;
}