$brown: #44413A;
$acidGreen: #98CB38;
$zindexPane: 100;
$zindexLogoRelais: 90;

@import "variables";
@import "twitter/awesome-bootstrap";
@import "twitter_ext/bootstrap-datepicker";
@import "twitter_ext/bootstrap-image-gallery";
@import "gko/public/base";
@import "layout";
@import "navbar";
@import "ticker";
@import "scrollpane";
@import "flexslider/flexslider";
@import "supersized";




/** {
	@include box-sizing(border-box);
}*/
a:focus,
.btn:focus {
  outline: 0;
}
/* =PATCH
----------------------------------------------------*/

// Patch to resolve conflict with bootstrap
#supersized {
	img {
		max-width: none;
	}
}

/* =SPECIFIC
----------------------------------------------------*/  
.flexslider {
	margin-bottom: $baseLineHeight / 2;
}

.flex-direction-nav a { opacity: 1; }
.flex-direction-nav .flex-next {right: 6px;}
.flex-direction-nav .flex-prev {left: 6px;}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.main-content-inner {
	padding: $baseLineHeight 0;
}
.accordion-group {
	background-color: $white;
}
.modal {
	background-color: $bodyBackground;
	@include border-radius(10px 10px 0 0);
}
.modal-header {
	@include border-radius(6px 6px 0 0);
	background-color: $navbarBackgroundHighlight;
	color: $white;
	.close {
		color: $white;
		text-shadow: $black;
	}
}
.modal-footer {
  background-color: transparent;
  border-top: 1px solid darken($bodyBackground, 8%);
}
#logo_relais_chateaux {
	position:absolute; 
	bottom:140px;
	right:20px;
	z-index: $zindexLogoRelais;
	opacity: .7;
}
#start-slideshow {
	text-align: right;
	margin-bottom: $baseLineHeight;
	font-size: 10px;
	text-decoration: none;
	i {
		padding-left: 4px;
	}
}
h1.page-title{
	font-weight:normal;
	font-size: 24px;
	margin-top: 0;
	margin-bottom:8px;
}
.nav > li > a {
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*-----------------------------------------
 GRID
----------------------------------------- */
.grid > li { 
		h2 {
			text-transform: uppercase;
			font-family: $baseFontFamily;
			font-size: $baseFontSize; 
			font-weight: bold;
			line-height: $baseLineHeight;
		} 
		.thumbnail {
			background-color: rgba(255,255,255,.7);
			&:hover {
				background-color: rgba(255,255,255,1);
			};
		}
}
.grid > li.document_item {
	text-align: center;
	.thumbnail {
		.date {
			
		}
		.country {
			clear: both;
			font-weight: bold;
		}
		.links {
			display: none;
		}
	}
}


/*-----------------------------------------
 SIBEBAR
----------------------------------------- */

/*-----------------------------------------
 HOME
----------------------------------------- */

.html-text {
	clear: both;
	ul { list-style: disc outside; margin-left: 30px; }
	li { margin-bottom: 0px; }
	ul, ol { margin-bottom: .8em; }
	p { margin-bottom: .8em; text-align: justify; }
	 
	table {
	  margin-bottom: $baseLineHeight * 2;
	  td {
		border-color: $textColor;
	  }
	}
	
	h1 {
		font-size: 26px;
		line-height: 36px; 
	}
	
	h2 {
		line-height: 24px;
		font-size: 16px;
		letter-spacing: 1px; 
		text-transform: uppercase;
		margin: 16px 0 4px 0;
		border-bottom: 1px solid #B7B6B6;
		font-weight: normal;
	}
	
	h3 {
		line-height: 24px;
		font-size: 14px;
		font-style: italic;
		letter-spacing: 0px; 
		margin: 16px 0 4px 0;
		border-bottom: 1px dotted #B7B6B6;
	}
} 

/* loading screen */ 
.ui-loading { overflow: hidden !important; }
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 1004; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
.ui-loader .ui-icon { position: static; display: block; opacity: .9; margin: 0 auto; width: 35px; height: 35px; 
	background:transparent asset-url("gko-core/ajax-loader.gif", image) no-repeat}



.ui-icon-loading {
	position: static;
	display: block;
	opacity: .9;
	margin: 0 auto;
	width: 35px;
	height: 35px;
	background-color: transparent;
	background-image: asset-url("gko-core/ajax-loader.gif", image);
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}
.hotel_inquiry select,
.table_inquiry select {
  width: auto; 
	display: inline;
}


@import "responsive";
