$brown: #44413A;
$acidGreen: #98CB38;
$zindexPane: 100;
$zindexLogoRelais: 90;

@import "variables";
@import "twitter/bootstrap";
@import "font-awesome";
@import "gko/public/base";
@import "scrollpane";
@import "flexslider/flexslider";
@import "supersized";
@import "bootstrap-image-gallery";



* {
@include box-sizing(border-box);
}

/* =PATCH
----------------------------------------------------*/

// Patch to resolve conflict with bootstrap
#supersized {
	img {
		max-width: none;
	}
}
// Patch to resolve modal bootstrap bug in small devices
/*
.modal {
	margin-left: -280px;
	position: fixed; 
	top: 3%; 
	right: 3%; 
	left: 3%; 
	bottom: 3%; 
	width: auto; 
	margin: 0;
}
.modal.fade.in {
	top: 3%;
}
.modal-body { 
max-height: 350px; 
padding: 15px; 
overflow-y: auto; 
-webkit-overflow-scrolling: touch; 
}*/


/* =SPECIFIC
----------------------------------------------------*/  
.flexslider {
	margin-bottom: $baseLineHeight / 2;
}

.flex-direction-nav a { opacity: 1; }
.flex-direction-nav .flex-next {right: 6px;}
.flex-direction-nav .flex-prev {left: 6px;}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.main-content-inner {
	padding: $baseLineHeight 0;
}
.accordion-group {
	background-color: $white;
}
.modal {
	background-color: $bodyBackground;
	@include border-radius(10px 10px 0 0);
}
.modal-header {
	@include border-radius(6px 6px 0 0);
	background-color: $navbarBackgroundHighlight;
	color: $white;
	.close {
		color: $white;
		text-shadow: $black;
	}
}
.modal-footer {
  background-color: transparent;
  border-top: 1px solid darken($bodyBackground, 8%);
}
#logo_relais_chateaux {
	position:absolute; 
	bottom:140px;
	right:20px;
	z-index: $zindexLogoRelais;
	opacity: .7;
}
#start-slideshow {
	text-align: right;
	margin-bottom: $baseLineHeight;
	font-size: 10px;
	text-decoration: none;
	i {
		padding-left: 4px;
	}
}
h1.page-title{
	font-weight:normal;
	font-size: 24px;
	margin-top: 0;
	margin-bottom:8px;
}
.nav > li > a {
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*-----------------------------------------
 HEADER
----------------------------------------- */ 


.navbar-inner {

	text-shadow: 0 1px 1px #444;
	@include reset-filter;
	@include border-radius(0);
}


.navbar {
	.brand {

		a {
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			width: 132px;
			height: 59px;
			@include hide-text;
		}
	}
	.header-top {
		@include clearfix;
		.nav > li > a {
			background-color: darken($brown, 8%);
			padding: 6px 10px 6px;
			font-size: 10px;
			&:hover {
				background-color: $acidGreen;
			};
		}
	}
	.header-nav {
		@include clearfix;

	}
	#locales-menu {
		li > a {
			line-height: 12px;
			padding-left:56px;
			background:transparent asset-url("locale_icons.png", image) no-repeat top center; 
		}
	}

	.nav-collapse {
		nav {
			//border-right: 1px solid lighten($brown, 8%);
		}
		.nav {
			margin-top: 16px;
		}
		.nav > li {
			//line-height: 14px;
			float: none;
			//border-bottom: 1px solid lighten($brown, 8%);
			&:last-child {
				border-bottom: none;
			}
		}
		.nav > li > a {
			padding: 0 12px;
		}
	}

}

/*-----------------------------------------
 GRID
----------------------------------------- */
.grid > li { 
		h2 {
			text-transform: uppercase;
			font-family: $baseFontFamily;
			font-size: $baseFontSize; 
			font-weight: bold;
			line-height: $baseLineHeight;
		} 
		.thumbnail {
			background-color: rgba(255,255,255,.7);
			&:hover {
				background-color: rgba(255,255,255,1);
			};
		}
}
.grid > li.document_item {
	text-align: center;
	.thumbnail {
		.date {
			
		}
		.country {
			clear: both;
			font-weight: bold;
		}
		.links {
			display: none;
		}
	}
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer-container {
	text-shadow: 0 1px 1px #444;
	
}
#footer {
	//padding: 0 8px 0px 14px;
	position:relative;
	height: $footerHeight;
	iframe {
		position: relative;
		float: right;
	}
	.nav > li > a {
		padding: 0 10px 0;
		line-height: $footerHeight - 2;
	}
	.pipe-menu-container ul.nav {
		float:left;
		li {
			float:left;
		}
	}
} 
#socials-container {
	float:right; 
	margin-right: $footerHeight;
	.nav > li > a {
		cursor:pointer;
		margin: 0 !important;
		padding:0 !important;
		text-align: center;
		vertical-align: middle;
		height: $footerHeight;
		width: $footerHeight;
		line-height: $footerHeight;
		font-size: 18px;
		border-left: 1px solid lighten($brown, 8%);
		background-color: $brown;
		[class^="icon-"], [class*=" icon-"] {
			line-height: $footerHeight / 2;
			height: $footerHeight;
			width: $footerHeight;
		}
		&:hover {
			background-color: lighten($brown, 8%);
		};
	}
	.nav > li > a#toolfree {
		background-color: $acidGreen;
		&:hover {
			background-color: lighten($acidGreen, 8%);
		};
	}
} 


/*-----------------------------------------
 SIBEBAR
----------------------------------------- */

/*-----------------------------------------
 HOME
----------------------------------------- */

.html-text {
	clear: both;
	ul { list-style: disc outside; margin-left: 30px; }
	li { margin-bottom: 0px; }
	ul, ol { margin-bottom: .8em; }
	p { margin-bottom: .8em; text-align: justify; }
	 
	table {
	  margin-bottom: $baseLineHeight * 2;
	  td {
		border-color: $textColor;
	  }
	}
	
	h1 {
		font-size: 26px;
		line-height: 36px; 
	}
	
	h2 {
		line-height: 24px;
		font-size: 16px;
		letter-spacing: 1px; 
		text-transform: uppercase;
		margin: 16px 0 4px 0;
		border-bottom: 1px solid #B7B6B6;
		font-weight: normal;
	}
	
	h3 {
		line-height: 24px;
		font-size: 14px;
		font-style: italic;
		letter-spacing: 0px; 
		margin: 16px 0 4px 0;
		border-bottom: 1px dotted #B7B6B6;
	}
} 

/* loading screen */ 
.ui-loading { overflow: hidden !important; }
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 1004; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
.ui-loader .ui-icon { position: static; display: block; opacity: .9; margin: 0 auto; width: 35px; height: 35px; 
	background:transparent asset-url("gko-core/ajax-loader.gif", image) no-repeat}



.ui-icon-loading {
	position: static;
	display: block;
	opacity: .9;
	margin: 0 auto;
	width: 35px;
	height: 35px;
	background-color: transparent;
	background-image: asset-url("gko-core/ajax-loader.gif", image);
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}
.hotel_inquiry select,
.table_inquiry select {
  width: auto; 
	display: inline;
}

/* =TICKER
----------------------------------------------------*/
#ticker-wrapper {
		position: absolute;
		right: 30px;
		top:220px;
		width: 220px;
		height: 120px;
		overflow:hidden;
		z-index: 999;
		background: #49bce7;
		opacity: .9;
		text-shadow: 0 1px 1px #fff; 
	}

ul#ticker {
	width: 220px;
	height: 120px;
	overflow: hidden; 
	padding:0;
	margin:0;
}

ul#ticker li {
	width: 200px;
	height: 99px;
	padding: 20px; 
	display: block;
}

ul#ticker li a {
	color: white; 
	display: block;
	text-decoration: none;
	&:hover {
		color: white;
		text-decoration: none;
	};
}

ul#ticker li span {
	display: block;
	color: white;
} 

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "twitter/bootstrap/responsive";
@import "gko/default_responsive";
@media (max-width: 979px) {
	body {
		padding: 0
	}
	.navbar {
		.brand {
			//margin: $baseLineHeight 0 0 0;
			float: none;
			text-align: center;
			padding: $baseLineHeight 0 $baseLineHeight;
		}	
	}
	#main-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-top {
		.nav {
			margin: 0;
			width: 100%;
		}
		.nav > li {
			width: 33.33%;
			margin: 0;
			padding: 0;
		}
		.nav > li > a {
			background-color: darken($brown, 8%);
			padding: 6px 10px 6px;
			font-size: 11px;
			text-align: center;
		}
	}
	.navbar-inner {
		padding: 0;
		@include border-radius(none);
		@include box-shadow(none);
	}
	.nav-collapse {
		background-color: $navbarBackground;
		.nav > li {
			&.dropdown {
				border-top: 1px dotted $navbarLinkColor;
			}
			&:first-child {
				border-top: none;
			};
		}
		.nav > li > a, 
		.dropdown-menu a {
			text-align: center;
			font-weight: normal;
		}
		 .dropdown-menu {
			padding-bottom: 8px;
			a {
				color: $navbarLinkColor;
				font-family: $serifFontFamily;
				font-style: italic;
				@include border-radius(none);
				padding: 2px 0;
				&:hover {
					color: $navbarLinkColorHover;
				};
			}
		}
	}
	#locales-menu {
		position: absolute;
		top: $baseLineHeight;
		right: $baseLineHeight / 2;
	}
}

@media (min-width: 980px) {
	
	#wrapper-wide-body {
		position: absolute;
		width:100%;
		height:100%;
		overflow:hidden;
	}

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
	#content-container {
		position: absolute;
		bottom: $footerHeight;
		height:70%; /* must have an px height for scrollpane */
		min-height:300px;
		overflow:visible;
		z-index: $zindexPane;
		background: #49bce7;
		
		@include opacity(90);
	//	@include container-fixed-footer();
	}

	#content {
		/*width:800px;*/
		width:100%;
		height:100%; /* must have an height for scrollpane(in px if parent #wrapper-wide-main height is not set) */
		bottom: 0px;
		margin: 0;
		padding: 0;
		display:block;
	}

	#main-column-tab {
		@include border-radius(6px 6px 0 0);
		@include opacity(80);
		position: absolute;
		cursor: pointer;
		top: 0px;
		width: 100%;
		height: 40px;
		top: -40px;
		border: 1px solid #707070;
		background-color: #49453E;
		font-weight: bold;
		color: #d8d8d8;
		text-shadow: 0 1px 1px #444;
		background-image: asset-url("icon_arrow_bottom_36_white.png", image);
		background-repeat:no-repeat;
		background-position:50% 50%;;


		&.closed {
			background-image: asset-url("icon_arrow_top_36_white.png", image);
		}
	}
	#main-column {
		position: absolute;
		left: 340px; // Related to sidebar wight
		text-align: left;
		color: #3b3831;
		height:100%;
		padding: 0px;
		right:0px;
	}
	#main-column.content-sidebar {
		position: absolute;
	}
	
	#footer-container {
		@include fixed-footer();
	}

	#sidebar {
		width: 290px;
		position: absolute;
		top:0px;
		left:0px;
		padding-top:20px;
		padding-left:10px;
		display:block;
	}
	
	#secondary-menu {
		.nav > li {
			float: none;
		}
		.nav > li > a:hover {
			background-color: transparent;
		}
		.dropdown-menu {
			//@include clear-dropdown();
		}
	}
	.navbar {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		z-index: 910;

		.brand {
			padding: 0;
			//background-color: lighten($brown, 4%);
		//	border-right: 1px solid lighten($brown, 8%);
			margin: 0;
			text-align: center;
			vertical-align: middle;
			@include size($navbarHeight, $navbarHeight + 20);
			a {
				text-align: center;
				margin-top: 32px;
			}
		}
	}
	.header-top {
		position: absolute;
		top: 0;
		right: 0;
		right: 0;
		z-index: 910;
		nav {
			float:right;
		}
		.nav > li {
			margin-left: 4px;
		}
		.nav > li > a {
			@include border-radius(0 0 8px 8px);
		}
	}
	
}
#home #content-container {
	display:none;
}