<% cache [I18n.locale, site,'locales_select4'] do %>
  <div class="btn-group">
    <a id="locales-btn" class="btn dropdown-toggle" data-toggle="dropdown" href="#"><%= t(:"locale_select_title") %><span class="caret"></span></a>
    <ul id='locales' class="dropdown-menu">
      <% site.available_locales.each do |language| %>
        <li><%= link_to(language.presentation, root_url(:locale => language.code), :class => [language.code.to_s, 'navbar-link']) %></li>
      <% end %>
    </ul>
   </div>
<% end if site.frontend_translated? %>
