<div class="toolbar">
  <div class="row">
    <div class="col-xs-10 col-sm-6">
        <p>North America Toll-free: 1-800-680-0832</p>
    </div>
    <div class="col-xs-2 logo-affiliate visible-xs">
      <a id="rc-logo" href="http://www.relaischateaux.com" data-html="true" data-placement="left" rel="tooltip" target="_blank" title="&lt;b&gt;Who We Are?&lt;/b&gt;&lt;br&gt;Established over half a century ago, Relais &amp; Châteaux is an association of the world’s finest hoteliers, chefs and restaurateurs that has set the standard for excellence in hospitality. Relais &amp; Châteaux has redefined luxury hospitality by emphasizing holistic experiences that transport its guests, taking them on a sensual journey and introducing them to a deeper, truer understanding of the Art of Living."><img alt="Logo_relais_chateaux_white" src="img/logo_relais_chateaux_white.png" class="img-responsive"></a> 
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render_menu('tools') %> 
    </div> 
  </div>   
</div>