
<div class="header-top">
  <div class="header-top-inner">
    <div class="container-fluid">
      <h1 id="site-title" class="brand"><%= link_to(site.title, root_url) %></h1>
	    <%#= render 'locales_select' %>
	    <%= render_menu('tools') %>
    </div>
  </div>
</div>